<div class="list_container" style="display: block;">
    <ul>
        <li class="new_index italics">
            <div class="block"><i></i><span class="hide pos2_name">tables</span><span
                    class="hide pos2_value">0</span><span class="hide pos3_name">indexes</span><span
                    class="hide pos3_value">0</span></div>
            <div class="block "><a class=" ajax"
                                   href="tbl_indexes.php?server=1&amp;create_index=1&amp;added_fields=2&amp;db=a67&amp;table=area&amp;token=7969fc223214e39c9993a8025307fe9b"><img
                    src=" <?= __PUBLIC__.'phpadmin/'?>dot.gif" title="新建" alt="新建" class="icon ic_b_index_add"></a></div>
            <a class="hover_show_full ajax"
               href="tbl_indexes.php?server=1&amp;create_index=1&amp;added_fields=2&amp;db=a67&amp;table=area&amp;token=7969fc223214e39c9993a8025307fe9b"
               title="">新建</a>
            <div class="clearfloat"></div>
        </li>
        <?php foreach($array as $v):?>
        <li class="last index">
            <div class="block"><i></i><span class="hide pos2_name">tables</span><span
                    class="hide pos2_value">0</span><span class="hide pos3_name">indexes</span><span
                    class="hide pos3_value">0</span></div>
            <div class="block "><a class=" ajax"
                                   href="tbl_indexes.php?server=1&amp;db=a67&amp;table=area&amp;index=PRIMARY&amp;token=7969fc223214e39c9993a8025307fe9b"><img
                    src=" <?= __PUBLIC__.'phpadmin/'?>dot.gif" title="索引" alt="索引" class="icon ic_b_index"></a></div>
            <a class="hover_show_full ajax"
               href="tbl_indexes.php?server=1&amp;db=a67&amp;table=area&amp;index=PRIMARY&amp;token=7969fc223214e39c9993a8025307fe9b"
               title=""><?= $v['Key_name']?></a>
            <div class="clearfloat"></div>
        </li>
        <?php endforeach;?>
    </ul>
</div>